.container {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  margin: 0;
}

.noReviews {
  font-style: italic;
}
